@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300italic,500);
*{
  margin: 0px;
  padding: 0px;
}
body {
  background: rgb(18, 181, 231);
}
.container{
  overflow: hidden;
  text-align: center;
  background: -moz-linear-gradient(top,  rgba(169,228,247,1) 0%, rgba(15,180,231,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(169,228,247,1) 0%,rgba(15,180,231,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(169,228,247,1) 0%,rgba(15,180,231,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9e4f7', endColorstr='#0fb4e7',GradientType=0 ); /* IE6-9 */
}
h1, h2 {
  font-family: 'Ubuntu', sans-serif;
  color: rgba(255, 255, 255, 0.65);
  margin: 20px 0px;
  font-weight: 100;
}
  h1{
    font-size: 150px;
  }
  
   h2{
    font-size: 100px;
  }

@media screen and (max-width: 480px){
  h1{
    font-size: 48px;
  }
  #map{
    width: 100%;
    margin-top: 25px !important;
  }
  .title ul li{
    padding: 8px 0px !important;
  }
  li a{
    padding: 9px 10px !important;
  }
  .title {
    margin-top: 30px;
  }
}
.title ul li {
  list-style: none;
  font-family: 'Ubuntu', sans-serif;
  display: inline-block;
  border: #fff solid 2px;
  border-radius: 50px;
  padding: 10px 0px;
  margin: 5px;
}
li a{
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 300ms cubic-bezier(0.455, 0.030, 0.515, 0.955); 
  -moz-transition: all 300ms cubic-bezier(0.455, 0.030, 0.515, 0.955); 
  -o-transition: all 300ms cubic-bezier(0.455, 0.030, 0.515, 0.955); 
  transition: all 300ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
  padding: 10px 20px
}
li a:hover{
  background: #fff;
  color: #1db8e8;
  border-radius: 50px;
}

#map{
  margin-top: 40px;
}
